[user]
  name = David Telenko
  email = davidtelenko11@gmail.com
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[credential "helperselector"]
  selected = manager
[core]
  autocrlf = false
  editor = nvim
  eol = lf
  pager = delta
  symlinks = true
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  syntax-theme = gruvbox-dark
[merge]
  conflictstyle = diff3
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[rerere]
  enabled = true
[init]
  defaultBranch = main
[http]
  ; postBuffer = 157286400
  ; sslBackend = openssl
[sendpack]
  sideband = false
[alias]
  unstage = reset HEAD --
  last = log -1 HEAD
  lol = log --oneline --graph --all
  ambient-pull = !git stash && git switch $1 && git pull && git switch - && git stash pop && :
[push]
  autoSetupRemote = true
  default = current
  followTags = true
[fetch]
  prune = true
  ; pruneTags = true
[branch]
  sort = -committerdate
[help]
  autocorrect = prompt
[commit]
  verbose = true
[column]
  ui = auto
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
