[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential "helperselector"]
    selected = manager
[core]
    pager = delta
    symlinks = true
    editor = nvim
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[rerere]
    enabled = true
[init]
    defaultBranch = main
[http]
    postBuffer = 157286400
    sslBackend = openssl
[sendpack]
    sideband = false
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
[push]
    autoSetupRemote = true
    default = current
