nushell/history.txt
nvim/lazy-lock.json
mpv/cache
mpv/watch_later
mpv/memo-history.log
mpv/scripts/sponsorblock_shared
musikcube/cache
musikcube/1
musikcube/log.txt
musikcube/stderr.txt
musikcube/session.json
musikcube/playback.json
wezterm/recent-commands.json
wezterm/check_update
hypr/scripts/data/player_state
