@import "theme.css";

* {
    border: none;
    font-family: "RobotoMono Nerd Font Propo, JetBrainsMono Nerd Font, monospace";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#backlight,
#language,
#tray,
#workspaces,
#backlight,
#custom-record,
#custom-media,
#custom-power,
#custom-reboot,
#custom-sleep,
#custom-lock,
#custom-show-tray {
    border-radius: 1.35rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    background: @bg;
    color: @fg;
    /* overlay design (transparent version)*/
    /* background: alpha(@fg, 0.12); */
    /* 3d effect */
    /* background-image: linear-gradient(180deg, @bg1, @bg); */
}

#custom-show-tray {
    color: @fg2;
    background: rgba(0, 0, 0, 0);
}

#tray {
    margin: 0.25rem 0rem;
    background: rgba(0, 0, 0, 0);
}

#custom-reboot,
#custom-sleep,
#custom-lock,
#custom-power {
    padding: 0.25rem 0.8rem;
}

#custom-power {
    color: @orange;
}

#custom-reboot {
    color: @blue;
}

#custom-sleep {
    color: @green;
}

#custom-lock {
    color: @purple;
}

window#waybar {
    background: #000000;
    /* overlay design (transparent version)*/
    /* border-radius: 1.35rem; */
    /* background: rgba(0, 0, 0, 0.8); */
}

tooltip {
    border-radius: 1.35rem;
    background: @bg;
    color: @fg;
}

#workspaces {
    padding: 0.15rem;
}

#workspaces button {
    color: @bg4;
    border-radius: 1.35rem;
    padding: 0.15rem 0.25rem;
}

#workspaces button.active {
    color: @fg;
    background: @bg4;
    transition-property: background;
    transition-duration: 600ms;
}

#workspaces button.focused {
    color: @green;
    background: @bg;
}

#workspaces button.urgent {
    color: @red;
    background: @bg;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;

    background: @bg2;
    border: none;
    color: @fg;
}

#temperature.critical {
    color: @red;
}

#clock {
    color: @fg2;
}

#network {
    color: @aqua;
}

#network.disabled {
    color: @aqua-dim;
}

#network.disconnected {
    color: @orange;
    padding: 0.25rem 0.8rem;
}

#bluetooth {
    color: @blue;
} 

#pulseaudio {
    color: @purple;
}

#pulseaudio.muted {
    color: @orange-dim;
}

@keyframes blink {
  to {
    background: @red-dim;
    color: @fg;
  }
}

#backlight {
    color: @yellow;
}

#temperature {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#language {
    color: @blue;
}

#custom-record.recording {
    color: @red;
    padding: 0.25rem 0.8rem;
}

#custom-record.idle {
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    font-size: 0px;
    margin: 0rem;
    padding: 0rem;
}

@define-color start @orange;
@define-color end   @yellow;

#custom-media {
    color: @bg;
    background: rgba(0, 0, 0, 0);
    transition-property: all;
    transition-duration: 600ms;
}

#custom-media:hover {
    color: @fg;
}

#custom-media.playing {
    color: @fg2;
}

#custom-media.paused {
    color: @bg4;
}

#custom-media.stopped {
    color: rgba(0, 0, 0, 0);
}

#custom-media.playing-9 {
    background-image: linear-gradient(90deg, @start 70%, @end 100%);
}

#custom-media.playing-8 {
    background-image: linear-gradient(90deg, @start 60%, @end 90%);
}

#custom-media.playing-7 {
    background-image: linear-gradient(90deg, @start 50%, @end 80%);
}

#custom-media.playing-6 {
    background-image: linear-gradient(90deg, @start 40%, @end 70%);
}

#custom-media.playing-5 {
    background-image: linear-gradient(90deg, @start 30%, @end 60%);
}

#custom-media.playing-4 {
    background-image: linear-gradient(90deg, @start 20%, @end 50%);
}

#custom-media.playing-3 {
    background-image: linear-gradient(90deg, @start 10%, @end 40%);
}

#custom-media.playing-2 {
    background-image: linear-gradient(90deg, @start 0%, @end 30%);
}

#custom-media.playing-1 {
    background-image: linear-gradient(90deg, @start 0%, @end 20%);
}

#custom-media.playing-0 {
    background-image: linear-gradient(90deg, @start 0%, @end 10%);
}

#window {
    color: @fg2;
    background: rgba(0, 0, 0, 0);
}

